/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Apr-2018, 11:49:43
    Author     : JavaDev
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
    font-family: "FontAwesome";
    font-weight: 900;
    font-style : normal;
/*    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");*/
    src : url("../css/fontawesome/fa-solid-900.eot");
    src : url("../css/fontawesome/fa-solid-900.woff2") format("woff2"),
        url("../css/fontawesome/fa-solid-900.woff") format("woff"),
        url("../css/fontawesome/fa-solid-900.ttf") format("truetype"),
        url("../css/resources/css/fontawesome/fa-solid-900.svg") format("svg");
}
/*
    DEMO STYLE
*/




body {
    font-family: 'Poppins', sans-serif;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    margin: 0;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    height:100vh;
}

#dashboard{
    position:relative;
    height: 100%;
    background-color: #242527;
    color: #fff;
    transition: all 0.4s;
    box-shadow: 2px 1px black;
}
#dashboard[data-width='small'] {
    min-width: 32px;
    max-width: 32px;   
}
#dashboard[data-width='medium'] {
    min-width: 75px;
    max-width: 75px;   
}
#dashboard[data-width='large'] {
    min-width: 400px;
    max-width: 400px;   
}
    
#dashboard ul {
    list-style-type: none;
    margin: 0;
    margin-left: 3px;
    padding: 0;
    display: table;
    width: 100%;
    height: 100%;
}

#dashboard ul li {
    display: table-row;
}
#dashboard ul li .spacer {
    min-height:32px;
    /*color:red;*/
}
/* this is just for styling the demo */
#dashboard ul li .dashboardItem {
/*    display: table-cell;*/
    display: none;
    vertical-align: middle;
    text-decoration: none;
    /*font-family: sans-serif;*/
    /*transition: padding-left 0.2s;*/
    /*transition: display 1s, opacity 1s linear;*/
    opacity: 0;
}
#dashboard ul li label[data-show='small']:before {
    font-family: FontAwesome;
    font-size: 1.4em;
    /*display:none;*/
    color: grey;
    text-shadow: 1px 1px black;
}
#dashboard ul li label.lightbeam[data-show='small']:before {
    content: '\f0eb';
}
#dashboard ul li label.volume[data-show='small']:before {
    content: '\f028';
}
#dashboard ul li label.dashcam[data-show='small']:before {
    content: '\f03d';
}
#dashboard ul li label.throttle[data-show='small']:before {
    content: '\f018';
}
#dashboard ul li label.power[data-show='small']:before {
    content: '\f011';
}

#dashboard ul li label.lightbeam[data-active='true']:before {
    color:yellow;
}
#dashboard ul li label.volume[data-active='true']:before {
    color:white;
}
#dashboard ul li label.dashcam[data-active='true']:before {
    color: white;
}
#dashboard ul li label.throttle[data-active='true']:before {
    color: orange;
}
#dashboard ul li label.power[data-active='true']:before {
    color: white;
}





/*-----------------Dashboard collapse toggle-----------------------*/

#dashboardCollapse {
    position: absolute;
    right:2px;
    top:1px;
    width:100%;
    border-bottom: 1px solid black;
    height: 28px;
}
#dashboardCollapse:before {
    position: absolute;
    color: grey;
    font-family: FontAwesome;
    font-size: 1.8em;
    margin-left: 2px;
}
#dashboardCollapse:hover:before {
    color: whitesmoke;
}
#dashboard[data-width='large'] #dashboardCollapse:before {
    position: absolute;
    right: 2px;
}

#dashboard[data-width='small'] #dashboardCollapse:before, #dashboard[data-width='medium'] #dashboardCollapse:before  {
    content: '\f105';
}
#dashboard[data-width='small'] #dashboardCollapse:hover:before, #dashboard[data-width='medium'] #dashboardCollapse:hover:before {
    content: '\f101';
}
#dashboard[data-width='large'] #dashboardCollapse:before {
    content: '\f104';
}
#dashboard[data-width='large'] #dashboardCollapse:hover:before {
    content: '\f100';
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#steeringPanel {
    min-height: 100vh;
    /*transition: all 0.3s;*/
    width:100%;
    position:relative;
}
#windscreen {
    top: 50%;
    left: 50%;
    width: 1280px;
    height: 720px;
    margin-left: -640px; /*set to a negative number 1/2 of your width*/
    margin-top: -360px; /*set to a negative number 1/2 of your height*/
    border: 1px solid #ccc;
    background-color: #111111;
    position:fixed;
    pointer-events: none;
    z-index:-1;
}

#windscreen.low {
    width: 640px;
    height: 480px;
    margin-left: -320px; /*set to a negative number 1/2 of your width*/
    margin-top: -240px; /*set to a negative number 1/2 of your height*/
}

#windscreen.high {
    width: 1280px;
    height: 720px;
    margin-left: -640px; /*set to a negative number 1/2 of your width*/
    margin-top: -360px; /*set to a negative number 1/2 of your height*/
}

/*----------- Switches-----------*/
/*--------------- Lights ------------------*/ 
.m-rocker {
    /*@media here!! change size on different  */
    font-size:180%;

}

.m-rocker:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);

}

/*green lights*/
.m-rocker:not(:checked) > label:before {
    color: black;
    font-family: FontAwesome;
    margin-bottom:-.8em;
    display:block;
    width:100%;
    line-height:0;
    text-indent:0;
    text-align:center;
    position:absolute;
    bottom:98%;
    left:0;
/*    text-shadow: 1px 1px black;*/
  /*background-color: #565656;*/
  /*color: transparent;*/
  text-shadow: 1px 1px rgba(95,95,95);
}
.m-rocker:not(:checked) > label.lightbeam:before {
    content:'\f0eb';
    font-size: .7em;
}
.m-rocker:not(:checked) > label.volume:before {
    content:'\f028';
    font-size: .7em;
}
.m-rocker:not(:checked) > label.dashcam:before {
    content:'\f03d';
    font-size: .7em;
}
.m-rocker:not(:checked) > label.throttle:before {
    content:'\f018';
    font-size: .7em;
}

/*red lights OFF state*/
.m-rocker:not(:checked) > label:after {
    content:'OFF';
    font-family:monospace;
    font-size: .6em;
    margin-top:-.8em;
    display:block;
    width:100%;
    line-height:0;
    text-indent:0;
    text-align:center;
    position:absolute;
    bottom:17%;
    left:0;
}

/*red lights ON state*/
.m-rocker:not(:checked) > label {
    background-color:#222;
    border-color:#445 #334 #223;
    border-width:.2em;
    border-style:solid;
    border-radius:.2em;
    cursor: pointer;
    display: inline-block;
    /*padding: 0 .5em;*/
    /*margin-right:.8em;*/
    position:relative;
    text-indent: -5000px;
    width:2.00em;
    height:2.5em;
    color:#222;
}

/* on */

/*green lights on*/
.m-rocker:not(:checked) > input:checked + label.lightbeam:before {
    color:yellow;
    text-shadow:0 0 5px rgba(255,255,0,.9);
    bottom:85%;
}
.m-rocker:not(:checked) > input:checked + label.volume:before {
    color:#0f0;
    text-shadow:0 0 5px rgba(0,255,0,.9);
    bottom:85%;
}
.m-rocker:not(:checked) > input:checked + label.dashcam:before {
    color:whitesmoke;
    text-shadow:0 0 5px rgba(245,245,245,.9);
    bottom:85%;
}
.m-rocker:not(:checked) > input:checked + label.throttle:before {
    color:orange;
    text-shadow:0 0 5px rgba(255,153,0,.9);
    bottom:85%;
}

/*red lights*/
.m-rocker input:not(:checked) + label:after {
    color:#422;
    bottom: 4%;
}
.m-rocker:not(:checked) > input:checked + label {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #efefef 12%, #999999 15%, #111111 50%, #444444 95%, #111111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(12%,#efefef), color-stop(15%,#999999), color-stop(50%,#111111), color-stop(95%,#444444), color-stop(100%,#111111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#efefef 12%,#999999 15%,#111111 50%,#444444 95%,#111111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#efefef 12%,#999999 15%,#111111 50%,#444444 95%,#111111 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#efefef 12%,#999999 15%,#111111 50%,#444444 95%,#111111 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#efefef 12%,#999999 15%,#111111 50%,#444444 95%,#111111 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#111111',GradientType=0 ); /* IE6-9 */

}

/* on press */
/*green lights*/
.m-rocker:not(:checked) > input:checked + label:active:before {
    bottom:89%;
}

/*red lights*/
.m-rocker:not(:checked) > input:checked + label:active:after {
    bottom: 20%;
}

.m-rocker:not(:checked) > input:checked + label:active {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #efefef 8%, #999999 11%, #111111 50%, #444444 92%, #111111 95%, #111111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(8%,#efefef), color-stop(11%,#999999), color-stop(50%,#111111), color-stop(92%,#444444), color-stop(95%,#111111), color-stop(100%,#111111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#efefef 8%,#999999 11%,#111111 50%,#444444 92%,#111111 95%,#111111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#efefef 8%,#999999 11%,#111111 50%,#444444 92%,#111111 95%,#111111 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#efefef 8%,#999999 11%,#111111 50%,#444444 92%,#111111 95%,#111111 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#efefef 8%,#999999 11%,#111111 50%,#444444 92%,#111111 95%,#111111 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
}

/* off state */

/*red lights on*/
.m-rocker input:not(:checked) + label:after {
    color:#F00;
    text-shadow:0 0 10px rgba(255,0,0,1),0 0 5px rgba(255,0, 0,1);
    bottom: 28%;
}

.m-rocker input:not(:checked) + label {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #999999 2%, #111111 50%, #444444 78%, #565656 85%, #111111 87%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(2%,#999999), color-stop(50%,#111111), color-stop(78%,#444444), color-stop(85%,#565656), color-stop(87%,#111111), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#999999 2%,#111111 50%,#444444 78%,#565656 85%,#111111 87%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#999999 2%,#111111 50%,#444444 78%,#565656 85%,#111111 87%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#999999 2%,#111111 50%,#444444 78%,#565656 85%,#111111 87%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#999999 2%,#111111 50%,#444444 78%,#565656 85%,#111111 87%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* off - down */

/*green lights*/
.m-rocker input:not(:checked) + label:active:before {
    bottom:96%;

}

/*red lights*/
.m-rocker input:not(:checked) + label:active:after {
    bottom: 25%;
}

.m-rocker input:not(:checked) + label:active:active {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 3%, #999999 5%, #111111 50%, #444444 89%, #111111 92%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(3%,#ffffff), color-stop(5%,#999999), color-stop(50%,#111111), color-stop(89%,#444444), color-stop(92%,#111111), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 3%,#999999 5%,#111111 50%,#444444 89%,#111111 92%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 3%,#999999 5%,#111111 50%,#444444 89%,#111111 92%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 3%,#999999 5%,#111111 50%,#444444 89%,#111111 92%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 3%,#999999 5%,#111111 50%,#444444 89%,#111111 92%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


/*--------------------------------------*/
/*--------End of m-rocker-----------------*/

#growl{
    color: yellow;
    position: absolute;
    top:0;
    left:250px;
}

/*#dashboard ul li .settings {
    position: absolute;
    margin-top: 32px;
    padding:5px;
    padding-top: 10px;
    left:0;
    width:190px;
    height:100%;
}*/










